.upper_heading {
    display: flex;
    align-items: center;

    .image-heading {
        flex: 1;
        margin-right: 20px;
        border-right: 7px solid yellow;
        width: 400px;
    }

    .para-heading {
        flex: 1;
        padding-left: 200px;
    }
}

.para-heading {
    margin: 0;
}

.heading-para {
    font-family: Poppins;
    font-size: 31px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(54, 26, 136);
}

img {
    width: 1000px;
    height: auto;
    top: -401px;
    left: 5406px;
}