@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins:wght@400;600&display=swap');
.Input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    label{
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 32px;
        padding: 10px;
    }

    input {
        background: rgba(217, 217, 217, 1);
        width: 582px;
        height: 52px;
        border-radius: 6px;
        border: none;
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    

    }

    select {
        /* Apply the style to both input and select elements */
        background: rgba(217, 217, 217, 1);
        width: 606px;
        height: 72px;
        border-radius: 6px;
        border: none;
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    }
}
